.theme-light,
.visual-refresh.theme-light,
.visual-refresh .theme-light {
  --brand-experiment: #458588;
  --bg-brand: #458588;
  --brand-100: #fafbff;
  --brand-130: #eef3fe;
  --brand-160: #e1ebfe;
  --brand-200: #d5e3fd;
  --brand-230: #c9dafd;
  --brand-260: #bdd2fc;
  --brand-300: #b0cafc;
  --brand-330: #98b9fa;
  --brand-360: #80a8f9;
  --brand-400: #6798f8;
  --brand-430: #4f87f7;
  --brand-460: #3677f6;
  --brand-500: #458588 !important;
  --brand-530: #0b57ef;
  --brand-560: #0a4ed6;
  --brand-600: #0845be;
  --brand-630: #073ca6;
  --brand-660: #06338d;
  --brand-700: #052b75;
  --brand-730: #052669;
  --brand-760: #04225c;
  --brand-800: #041d50;
  --brand-830: #031944;
  --brand-860: #021438;
  --brand-900: #02102c;
  --brand-05a: rgba(30, 102, 245, 0.05);
  --brand-10a: rgba(30, 102, 245, 0.1);
  --brand-15a: rgba(30, 102, 245, 0.15);
  --brand-20a: rgba(30, 102, 245, 0.2);
  --brand-25a: rgba(30, 102, 245, 0.25);
  --brand-30a: rgba(30, 102, 245, 0.3);
  --brand-35a: rgba(30, 102, 245, 0.35);
  --brand-40a: rgba(30, 102, 245, 0.4);
  --brand-45a: rgba(30, 102, 245, 0.45);
  --brand-50a: rgba(30, 102, 245, 0.5);
  --brand-55a: rgba(30, 102, 245, 0.55);
  --brand-60a: rgba(30, 102, 245, 0.6);
  --brand-65a: rgba(30, 102, 245, 0.65);
  --brand-70a: rgba(30, 102, 245, 0.7);
  --brand-75a: rgba(30, 102, 245, 0.75);
  --brand-80a: rgba(30, 102, 245, 0.8);
  --brand-85a: rgba(30, 102, 245, 0.85);
  --brand-90a: rgba(30, 102, 245, 0.9);
  --brand-95a: rgba(30, 102, 245, 0.95);
  --header-primary: #282828 !important;
  --header-secondary: #504945 !important;
  --__header-bar-background: #fbf1c7 !important;
  --text-normal: #282828 !important;
  --text-default: #282828;
  --text-muted: #504945 !important;
  --text-link: #458588 !important;
  --text-link-low-saturation: #427b58;
  --text-low-contrast: #7c6f64;
  --text-positive: #98971a;
  --text-warning: #af3a03;
  --text-danger: #cc241d;
  --text-brand: #458588;
  --text-primary: #282828;
  --text-secondary: #3c3836;
  --text-tertiary: #504945 !important;
  --text-feedback-positive: #98971a;
  --text-feedback-critical: #cc241d;
  --text-feedback-warning: #af3a03;
  --text-feedback-info: #458588;
  --background-feedback-positive: rgba(64, 160, 43, 0.1);
  --background-feedback-critical: rgba(210, 15, 57, 0.1);
  --background-feedback-warning: rgba(223, 142, 29, 0.1);
  --background-feedback-info: rgba(30, 102, 245, 0.1);
  --autocomplete-bg: #f9f5d7;
  --message-reacted-background: rgba(30, 102, 245, 0.3) !important;
  --message-reacted-text: #458588;
  --opacity-blurple-8: rgba(30, 102, 245, 0.08);
  --opacity-blurple-16: rgba(30, 102, 245, 0.16);
  --opacity-blurple-24: rgba(30, 102, 245, 0.24);
  --opacity-blurple-32: rgba(30, 102, 245, 0.32);
  --opacity-blurple-60: rgba(30, 102, 245, 0.6);
  --blurple-50: #458588;
  --background-primary: #ebdbb2 !important;
  --background-secondary: #fbf1c7 !important;
  --background-secondary-alt: #ebdbb2 !important;
  --background-tertiary: #f9f5d7 !important;
  --background-accent: #bdae93 !important;
  --background-floating: #ebdbb2 !important;
  --background-surface-highest: #d5c4a1 !important;
  --background-surface-higher: #ebdbb2 !important;
  --background-surface-high: #ebdbb2 !important;
  --background-base-lowest: #f9f5d7 !important;
  --background-base-lower: #fbf1c7 !important;
  --background-base-low: #ebdbb2 !important;
  --background-nested-floating: #fbf1c7;
  --background-mobile-primary: #ebdbb2;
  --background-mobile-secondary: #fbf1c7;
  --bg-base-secondary: #fbf1c7;
  --bg-base-tertiary: #f9f5d7 !important;
  --bg-surface-overlay: #ebdbb2;
  --bg-surface-raised: #fbf1c7;
  --bg-overlay-floating: #ebdbb2;
  --home-background: #ebdbb2;
  --chat-background: #ebdbb2;
  --chat-border: #f9f5d7;
  --chat-input-container-background: #ebdbb2;
  --chat-text-muted: #504945;
  --border-normal: #f9f5d7;
  --border-subtle: #ebdbb2 !important;
  --background-modifier-hover: rgba(124, 127, 147, 0.15);
  --background-modifier-selected: rgba(156, 160, 176, 0.2);
  --background-modifier-accent: rgba(76, 79, 105, 0.26);
  --background-modifier-active: rgba(76, 79, 105, 0.17);
  --background-mod-faint: #a89984;
  --background-mod-normal: #bdae93;
  --background-mod-strong: #ebdbb2;
  --background-mod-subtle: #d5c4a1;
  --custom-channel-members-bg: #fbf1c7;
  --custom-status-bubble-background: #f9f5d7 !important;
  --custom-status-bubble-background-color: #fbf1c7 !important;
  --card-primary-bg: #d5c4a1 !important;
  --info-positive-background: rgba(64, 160, 43, 0.15);
  --info-positive-foreground: #98971a;
  --info-positive-text: #282828;
  --info-warning-background: rgba(223, 142, 29, 0.15);
  --info-warning-foreground: #af3a03;
  --info-warning-text: #282828;
  --info-danger-background: rgba(210, 15, 57, 0.15);
  --info-danger-foreground: #cc241d;
  --info-danger-text: #282828;
  --info-help-background: rgba(4, 165, 229, 0.15);
  --info-help-foreground: #689d6a;
  --info-help-text: #282828;
  --status-positive-background: #98971a;
  --status-positive-text: #ebdbb2;
  --status-warning-background: #af3a03;
  --status-warning-text: #ebdbb2;
  --status-danger-background: #cc241d;
  --status-danger-text: #ebdbb2;
  --status-danger: #cc241d;
  --status-positive: #98971a;
  --status-warning: #af3a03;
  --black-500: #f9f5d7;
  --green-360: #98971a;
  --yellow-360: #af3a03;
  --yellow-300: #af3a03;
  --red-400: #cc241d;
  --red-430: #a20c2c;
  --red-500: #8b0a26;
  --primary-100: #3c3836;
  --primary-300: #3c3836;
  --primary-400: #3c3836;
  --primary-700: #bdae93;
  --primary-800: #f9f5d7;
  --white: #282828;
  --white-400: #282828;
  --white-500: #282828;
  --guild-boosting-pink: #b16286;
  --guild-boosting-blue: #458588;
  --guild-boosting-purple: #8f3f71;
  --premium-perk-yellow: #af3a03;
  --premium-perk-purple: #8f3f71;
  --premium-perk-dark-blue: #0a4ed6;
  --premium-perk-light-blue: #3677f6;
  --premium-perk-blue: #458588;
  --premium-perk-green: #98971a;
  --premium-perk-pink: #b16286;
  --premium-perk-orange: #d65d0e;
  --premium-tier-0-blue: #458588;
  --premium-tier-0-purple: #8f3f71;
  --premium-tier-1-blue-for-gradients: #427b58;
  --premium-tier-1-dark-blue-for-gradients: #458588;
  --premium-tier-2-purple-for-gradients: #6d12e3;
  --premium-tier-2-purple-for-gradients-2: #8f3f71;
  --premium-tier-2-pink-for-gradients: #b16286;
  --button-danger-background: #cc241d;
  --button-danger-background-hover: #ba0d33;
  --button-danger-background-active: #a20c2c;
  --button-danger-background-disabled: #cc241d;
  --button-positive-background: #98971a;
  --button-positive-background-hover: #388c26;
  --button-positive-background-active: #348223;
  --button-positive-background-disabled: #98971a;
  --button-secondary-background: #bdae93 !important;
  --button-secondary-background-hover: #ebdbb2;
  --button-secondary-background-active: #ebdbb2;
  --button-secondary-background-disabled: #bdae93;
  --button-secondary-text: #282828 !important;
  --button-outline-danger-text: #282828;
  --button-outline-danger-border: #cc241d;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #c60e36;
  --button-outline-danger-text-hover: #ebdbb2;
  --button-outline-danger-border-hover: #c60e36;
  --button-outline-danger-background-active: #ba0d33;
  --button-outline-danger-text-active: #ebdbb2;
  --button-outline-danger-border-active: #c60e36;
  --button-outline-positive-text: #282828;
  --button-outline-positive-border: #98971a;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #3c9628;
  --button-outline-positive-text-hover: #ebdbb2;
  --button-outline-positive-border-hover: #3c9628;
  --button-outline-positive-background-active: #388c26;
  --button-outline-brand-background-active: #0b57ef;
  --button-outline-brand-text-active: #ebdbb2;
  --button-outline-brand-border-active: #125ef4;
  --notice-background-info: #458588;
  --notice-background-positive: #98971a;
  --notice-background-warning: #af3a03;
  --notice-text-critical: #f9f5d7;
  --notice-text-info: #f9f5d7;
  --notice-text-positive: #f9f5d7;
  --notice-text-warning: #f9f5d7;
  --button-outline-positive-text-active: #ebdbb2;
  --button-outline-positive-border-active: #3c9628;
  --button-outline-brand-text: #282828;
  --button-outline-brand-border: #458588;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #125ef4;
  --button-outline-brand-text-hover: #ebdbb2;
  --button-outline-brand-border-hover: #125ef4;
  --button-outline-primary-text: #282828;
  --button-outline-primary-border: #a89984;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #ebdbb2;
  --button-outline-primary-text-hover: #ebdbb2;
  --button-outline-primary-border-hover: #ebdbb2;
  --button-outline-primary-background-active: #ebdbb2;
  --button-outline-primary-text-active: #ebdbb2;
  --button-outline-primary-border-active: #ebdbb2;
  --button-filled-brand-text: #f9f5d7;
  --button-filled-brand-background: #458588;
  --button-filled-brand-background-hover: #0a53e3;
  --button-filled-brand-background-active: #094aca;
  --button-filled-brand-inverted-text: #f9f5d7;
  --button-filled-brand-inverted-background: #282828;
  --button-filled-brand-inverted-background-hover: #3c3e53;
  --button-filled-brand-inverted-background-active: #313344;
  --modal-background: #ebdbb2 !important;
  --modal-footer-background: #f9f5d7;
  --scrollbar-thin-thumb: #458588;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #458588;
  --scrollbar-auto-track: #f9f5d7;
  --scrollbar-auto-scrollbar-color-thumb: #458588;
  --scrollbar-auto-scrollbar-color-track: #f9f5d7;
  --input-background: #f9f5d7;
  --input-placeholder-text: #3c3836;
  --logo-primary: #282828;
  --control-brand-foreground: #458588;
  --control-brand-foreground-new: #458588;
  --mention-foreground: #458588;
  --mention-background: rgba(30, 102, 245, 0.3);
  --background-mentioned: rgba(223, 142, 29, 0.1);
  --background-mentioned-hover: rgba(223, 142, 29, 0.08);
  --background-message-hover: rgba(220, 224, 232, 0.3) !important;
  --background-message-automod: rgba(220, 138, 120, 0.05);
  --background-message-automod-hover: rgba(220, 138, 120, 0.1);
  --background-message-highlight: rgba(30, 102, 245, 0.08);
  --background-message-highlight-hover: rgba(30, 102, 245, 0.06);
  --background-code: #ebdbb2;
  --channels-default: #665c54 !important;
  --channel-icon: #665c54 !important;
  --channel-text-area-placeholder: rgba(76, 79, 105, 0.5);
  --channeltextarea-background: #fbf1c7;
  --icon-muted: #a89984;
  --icon-default: #282828;
  --icon-primary: #282828;
  --icon-secondary: #3c3836;
  --icon-tertiary: #665c54 !important;
  --activity-card-background: #f9f5d7;
  --textbox-markdown-syntax: #928374;
  --spoiler-revealed-background: #d5c4a1;
  --spoiler-hidden-background: #a89984;
  --android-navigation-bar-background: #f9f5d7;
  --android-ripple: rgba(220, 224, 232, 0.3);
  --deprecated-card-bg: rgba(220, 224, 232, 0.6);
  --deprecated-card-editable-bg: rgba(220, 224, 232, 0.3);
  --bg-mod-faint: rgba(172, 176, 190, 0.1);
  --bg-mod-subtle: rgba(172, 176, 190, 0.25) !important;
  --bg-mod-strong: rgba(172, 176, 190, 0.45) !important;
  --deprecated-text-input-bg: #f9f5d7;
  --deprecated-text-input-border: #665c54;
  --deprecated-text-input-border-hover: #ebdbb2;
  --deprecated-text-input-border-disabled: #fbf1c7;
  --focus-primary: #458588;
  --interactive-normal: #282828 !important;
  --interactive-muted: #928374;
  --interactive-hover: #282828;
  --interactive-active: #282828;
  --search-popout-option-non-text-color: #504945;
  --__spoiler-background-color--hidden: #a89984;
  --__spoiler-warning-background-color: #ebdbb2;
  --user-profile-overlay-background: #fbf1c7;
  --user-profile-overlay-background-hover: #d5c4a1;
  --plum-23: #ebdbb2;
  --badge-brand-bg: #458588;
  --badge-brand-text: #f9f5d7;
  --twitch: #6d12e3;
  --playstation: #0a4ed6;
  --spotify: #98971a;
  --notice-background-critical: #cc241d;
}
