layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                // Nord theme                          
                color_fg "#cdd6f4"
                color_bg "#1e1e2d"
                color_black "#3B4252"
                color_red "#f38ba8"
                color_green "#a6e3a1"
                color_yellow "#f9e2af"
                color_blue "#89b4fa"
                color_mauve "#cba6f7"
                color_teal "#94e2d5"
                color_rosewater "#f5e0dc"
                color_peach "#fab387"
                
                format_left   "{mode}#[bg=$bg] {tabs}"
                //format_center "#[bg=$bg,fg=$fg] Zellij: #[bg=$bg,fg=$fg]{session}"
                format_right "#[bg=$bg,fg=$green] : #[bg=$bg,fg=$green]{session}"
                //format_right  "{datetime}"
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "false"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$rosewater,fg=$bg,bold]  WAIT  #[bg=$bg,fg=$rosewater]"
                mode_locked        "#[bg=$green,fg=$bg,bold] ZELLIJ #[bg=$bg,fg=$green]"
                mode_resize        "#[bg=$mauve,fg=$bg,bold] RESIZE #[bg=$bg,fg=$mauve]"
                mode_pane          "#[bg=$mauve,fg=$bg,bold]  PANE  #[bg=$bg,fg=$mauve]"
                mode_tab           "#[bg=$yellow,fg=$bg,bold]  TAB   #[bg=$bg,fg=$yellow]"
                mode_scroll        "#[bg=$blue,fg=$bg,bold] SCROLL #[bg=$bg,fg=$blue]"
                mode_enter_search  "#[bg=$peach,fg=$bg,bold] ENT-SE #[bg=$bg,fg=$peach]"
                mode_search        "#[bg=$peach,fg=$bg,bold] SEARCH #[bg=$bg,fg=$peach]"
                mode_rename_tab    "#[bg=$yellow,fg=$bg,bold] ReTAB  #[bg=$bg,fg=$yellow]"
                mode_rename_pane   "#[bg=$blue,fg=$bg,bold] RePANE #[bg=$bg,fg=$blue]"
                mode_session       "#[bg=$blue,fg=$bg,bold]  SESS  #[bg=$bg,fg=$blue]"
                mode_move          "#[bg=$blue,fg=$bg,bold]  MOVE  #[bg=$bg,fg=$blue]"
                mode_prompt        "#[bg=$blue,fg=$bg,bold] PROMPT #[bg=$bg,fg=$blue]"
                mode_tmux          "#[bg=$red,fg=$bg,bold]  TMUX  #[bg=$bg,fg=$red]"

                // formatting for inactive tabs
                tab_normal              "#[bg=$bg,fg=$teal]#[bg=$teal,fg=$bg,bold] {index} #[bg=$bg,fg=$teal,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_fullscreen   "#[bg=$bg,fg=$teal]#[bg=$teal,fg=$bg,bold] {index} #[bg=$bg,fg=$teal,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_sync         "#[bg=$bg,fg=$teal]#[bg=$teal,fg=$bg,bold] {index} #[bg=$bg,fg=$teal,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold] {index} #[bg=$bg,fg=$yellow,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_fullscreen   "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold] {index} #[bg=$bg,fg=$yellow,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_sync         "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold] {index} #[bg=$bg,fg=$yellow,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // separator between the tabs
                tab_separator           " "

                // indicators
                tab_sync_indicator       "  "
                tab_fullscreen_indicator " 󰊓 "
                tab_floating_indicator   " 󰹙 "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                //datetime        "#[fg=$fg] {format} "
                //datetime_format "%Y-%m-%d %H:%M"
                //datetime_timezone "Europe/Helsinki"
            }
        }
        children
    }
}
